<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
  <title>Rei's PortoflioSite</title>
</head>
<body>
  <header>
    <a href="#">Rei Sasajima</a>
    <ul>
      <a href="#"><li>Works</li></a>
      <a href="#"><li>Collection</li></a>
    </ul>
  </header>
  
  {% block main %}
  {% endblock %}

</body>
</html>